name: Automatisation des tests DevSecOps
on: push

jobs:
  Dependances:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Dependances
        run: |
          echo "Contrôle des dépendances"
          docker run --rm -v $GITHUB_WORKSPACE:/src -w /src aquasec/trivy fs . --exit-code 1 --severity HIGH,CRITICAL

  Dockerfile:
    runs-on: ubuntu-latest
    needs: Dependances
    steps:
      - uses: actions/checkout@v4 
      - name: Test Dockerfile
        run: |
          echo "Contrôle du Dockerfile avec Hadolint"
          docker run --rm -i hadolint/hadolint < Dockerfile

  Deploy:
    runs-on: ubuntu-latest
    needs: Dockerfile
    steps:
      - name: Deploy
        run: |
          echo "Rien à faire ici. Votre application est prête à être déployée"
